<div class='admin_content'>
<h1>Facebook Connect Setup</h1>

<p><a target="_blank" href="http://www.facebook.com/developers/editapp.php?app_id=<%= @options.application_id %>">Edit My Facebook Application Settings</a></p>
<br/>

<h3>Connect URL <span style="font-size:11px;">(<span style="color:red;">Required</span>)</span></h3>
<ul>
<li>Click on "Edit My Facebook Application Settings" above.</li>
<li>Then in the menu on the left, click on <strong>Connect</strong>.</li>
<li>Set the <strong>Connect URL</strong>: <%= Configuration.domain_link('/') %></li>
<li>Now press "Save Changes"</li>
</ul>

<br/>

<h3>Email Setup</h3>
<ul>
<li>Click on "Edit My Facebook Application Settings" above.</li>
<li>Then in the menu on the left, click on <strong>Advanced</strong>.</li>
<li>Set the <strong>Email Domain</strong> to the From address in your emails.<br/>
<em>Ex: if you sent emails from  contact@webiva.com, then you would set the Email Domain to webiva.com</em>
</li>
<li>Now press "Save Changes"</li>
</ul>

</div>
