<%
link = options.album_url ? options.album_url : post.link

width = options.photo['src_width']
height = options.photo['src_height']
if width.blank? || width.to_i > maxwidth
  width = maxwidth
  height = nil
end

img = tag(:img, {:src => options.photo['src'], :width => width, :height => height, :alt => options.photo['caption'], :title => options.photo['caption'], :class => 'post_stream_photo'}.delete_if{|k,v| v.blank?})


title = options.photo['caption'].blank? ? link : options.photo['caption']
title_link = content_tag(:a, truncate(title, :length => title_length), {:href => post.link, :rel => 'nofollow', :target => '_blank', :title => title})
heading = content_tag(:div, title_link, {:class => 'title'}, false)

provider = 'Facebook'
provider_tag = ''
if provider
  provider_link = content_tag(:a, provider, {:href => 'http://www.facebook.com', :rel => 'nofollow', :target => '_blank'})
  provider_tag = content_tag(:span, provider_link, {:class => 'provider'}, false)
end

author_tag = ''
if options.uid
  author_tag = content_tag(:span, 'by %s' / "<fb:name uid='#{options.uid}' linked='true' useyou='false'></fb:name>", {:class => 'author'}, false)
end

%>
<div class="facebook">
<%= heading %>
<%= content_tag(:a, img, {:href => link, :rel => 'nofollow', :target => '_blank'}, false) %>
</div>
<div class="provider_author">
  <%= provider_tag %> <%= author_tag %>
</div>

