<%= form.hidden_field(:id) +
  form.hidden_field(:name) +
  form.hidden_field(:link) +
  form.hidden_field(:type) +
  form.hidden_field(:count) +
  form.hidden_field(:picture) +
  form.hidden_field(:width) +
  form.hidden_field(:height) +
  form.hidden_field(:author_id) +
  form.hidden_field(:author_name)
%>
<div class="facebook_album_frame">
<div id="facebook_login" style="display:none;">
<span>Facebook access required,</span> <a href="<%= url_for :controller => '/oauth/client', :action => 'login', :provider => 'facebook', :url => renderer.site_node.node_path %>">connect with Facebook</a>
</div>
<div id="facebook_heading"></div>
<div id="facebook_albums"></div>
</div>
<%= "<script>FacebookAlbumSelector.ready('#{options.id}');</script>" if renderer.ajax? %>

  
